@import url('http://fonts.googleapis.com/css?family=Days+One');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body {
  background: #eaf3fc;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #656565;
  padding: 45px 0;
}

::selection { background: #e0f1cb; }
::-moz-selection { background: #e0f1cb; }
::-webkit-selection { background: #e0f1cb; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

center { display: block; width: 100%; text-align: center; }

code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, 'Courier New', monospace, serif;
  width: auto;
  padding: 3px;
  background-color: #eee;
}

h1 {
  font-family: 'Days One', Arial, sans-serif;
  font-size: 3.5em;
  line-height: 1.5em;
  font-weight: normal;
  color: #555;
  margin-bottom: 7px;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #787878;
  font-size: 2.4em;
  line-height: 1.35em;
  font-weight: bold;
}

p {
  font-size: 1.4em;
  line-height: 1.2em;
  margin-bottom: 8px;
}

a {
  color: #537ca6;
}


/* page structure */
#w {
  display: block;
  width: 800px;
  margin: 0 auto;
  padding: 15px 35px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background: #fff url('../img/reddit-logo.png') 95% 6px no-repeat;
}

#logo img {
  display: block;
  float: right;
}

#content {
  display: block;
  width: 100%;
  padding: 4px 7px;
}


/* search field */
#domainform {
  display: block;
  padding-top: 10px;
  padding-bottom: 35px;
}
#searchfield {
  display: block;
  margin-bottom: 5px;
}

#s {
  padding: 5px 7px;
  font-family: Arial, Tahoma, sans-serif;
  color: #666;
  font-size: 1.5em;
  width: 350px;
  font-weight: bold;
  border: 1px solid #ccc;
}


/* links list */
.linklist {
  display: block;
}

.linklist li {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 11px;
  border-bottom: 1px solid #ddd;
}

.linklist li .thumbimg {
  display: block;
  float: left;
  margin-right: 7px;
}

.linklist li .linkdetails {
  display: block;
  float: left;
  width: 87%;
}

.linklist li h2 {
  font-size: 1.65em;
  line-height: 1.1em;
  margin-bottom: 5px;
}

.linklist li .subrdt {
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 7px;
}

.linklist li .blubtn {
  display: inline-block;
  zoom: 1;
  outline: none;
  padding: 4px 18px;
  margin: 0;
  cursor: pointer;
  color: #fff;
  font-family: Arial, Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.0em;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  border: 1px solid #3a5269;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #336699;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#336699), to(#395a7b));
  background-image: -webkit-linear-gradient(top, #336699, #395a7b);
  background-image: -moz-linear-gradient(top, #336699, #395a7b);
  background-image: -ms-linear-gradient(top, #336699, #395a7b);
  background-image: -o-linear-gradient(top, #336699, #395a7b);
  background-image: linear-gradient(top, #336699, #395a7b);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3), 0 2px 2px -1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.3) inset;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3), 0 2px 2px -1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.3) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3), 0 2px 2px -1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.3) inset;
}

/* clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

footer {
  position: fixed;
  bottom: 0%;
  height: 5%;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  text-align: center;
  line-height: 10px;
  font-style: italic;
}
